<app-brewery-header></app-brewery-header>

<section class="contact-banner" *ngIf="bannerData.length !== 0">
  <img src="http://api.fftb.co.uk/image/banner/{{bannerData.id}}">
  <div class="banner-text">
    <div class="container">
      <h5 class="pt-lg-5">{{bannerData.banner_type |titlecase}}</h5>
      <div [innerHtml]="bannerData.banner_content"></div>
    </div>
  </div>
</section>


<!--our-passion -->

<section class="with-passion">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-5 col-sm-5 col-12 text-center">
        <figure><img src="http://api.fftb.co.uk/image/about/{{aboutSec.id}}" class="img-fluid" /></figure>

      </div>

      <div class="col-lg-7 col-md-7 col-sm-7 col-12">
        <!-- <h2 class="pb-3">WE BREW WITH PASSION, <br /> WE BREW FOR YOU.</h2> -->
        <div [innerHtml]="aboutSec.text"></div>
      </div>

    </div>
  </div>
</section>

<section class="icon-passion">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-3 col-6 text-center" *ngFor="let about_third of aboutThird let p=index;">
        <figure><img src="http://api.fftb.co.uk/image/about/{{about_third.id}}" class="img-fluid" /></figure>
        <h2>{{about_third.count}}</h2>
        <h4 class="pb-5">{{about_third.heading}}</h4>
      </div>


    </div>
  </div>
</section>

<section class="our-secret our-team">
  <h2 class="text-center">OUR TEAM, OUR EVERYTHING</h2>
  <div class="container">
    <div class="">

      <div class="member-repet" *ngFor="let team of teamData let j=index;">
        <div class="member_box">
          <div class="pr-lg-3 pt-3">
            <h3>{{team.emp_name}}</h3>
            <h5>{{team.emp_position}}</h5>
            <div [innerHtml]="team.emp_content"></div>
          </div>
        </div>
        <div class="member_box pl-lg-0 pr-lg-0 text-center align-self-center">
          <figure><img src="http://api.fftb.co.uk/image/ourteam/{{team.id}}" class="img-fluid" /></figure>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="clearfix"></div>
<!--our-process-->

<section class="our-process">
  <div class="container">
    <h2 class="text-center">OUR PROCESS</h2>

    <div class="row justify-content-center" *ngFor="let process of processData let p=index;">
      <div class="col-lg-5 col-md-5 col-sm-5 col-12 pr-lg-5 align-self-center" *ngIf="p%2 =='0'; else elseContent ">
        <h3>{{process.process_name}}</h3>
        <div [innerHtml]="process.process_short_des"></div>
        <a [routerLink]="['/',user_slug,'process-details',process.slug]">VIEW MORE</a>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-12 pl-lg-0" *ngIf="p%2 =='0'; else elseImage ">
        <figure>
          <img src="http://api.fftb.co.uk/image/ourprocess/{{process.id}}" class="img-fluid" />
        </figure>
      </div>

      <ng-template #elseContent>
        <div class="col-lg-5 col-md-5 col-sm-5 col-12 pl-lg-0">
          <figure>
            <img src="http://api.fftb.co.uk/image/ourprocess/{{process.id}}" class="img-fluid" />
          </figure>
        </div>
      </ng-template>
      <ng-template #elseImage>
        <div class="col-lg-5 col-md-5 col-sm-5 col-12 pr-lg-5 align-self-center">
          <h3>{{process.process_name}}</h3>
          <div [innerHtml]="process.process_short_des"></div>
          <a [routerLink]="['/',user_slug,'process-details',process.slug]">VIEW MORE</a>
        </div>
      </ng-template>

    </div>

  </div>
</section>

<app-brewery-testimonial></app-brewery-testimonial>


<!--sport-section-->
<section class="sport-section">
  <div class="container">
    <h2 class="text-center">SPOT THE DIFFERENCE</h2>
    <h4 class="text-center pt-4 pb-5">Long tradition is our key </h4>
    <div class="row align-items-center" *ngIf="pagewiseProductData">
      <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
        <figure><img src="http://api.fftb.co.uk/image/product/{{pagewiseProductData[0].id}}" class="img-fluid" />
        </figure>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-12 text-center">
        <div class="addto-box">
          <h2>${{pagewiseProductData[0].price}} </h2>
          <h3>{{pagewiseProductData[0].name}}</h3>
          <p [innerHtml]="pagewiseProductData[0].description"></p>
          <!-- <a (click)="addtoCart(pagewiseProductData[0])" *ngIf="!status ; else Addedtocart" > -->
          <a (click)="addtoCart(pagewiseProductData[0])">
            {{pagewiseProductData[0].buttonText}}
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- <ng-template #Addedtocart><h5 class="added">Already Added</h5></ng-template> -->

<app-brewery-footer></app-brewery-footer>