<!-- <app-brewery-header></app-brewery-header> -->

<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center ">
		<div class="col-lg-4 col-md-6 col-sm-6 col-12 text-center">
			<h2>GRAB A </h2>
			<img src="assets/brewery/images/maintance-logo.png" class="img-fluid" />
			<h2>AND CHILL</h2>
			<h4 class="pt-3">
					<!-- <a href="#">Well be right back...</a> -->
					User not found, please try again.......
			</h4>
			
		</div>
		<div class="col-lg-5 col-md-6 col-sm-6 col-12">
			<figure><img src="assets/brewery/images/maintentice.png" class="img-fluid" /></figure>

		</div>
	</div>
		<a [routerLink]="['/']" class="btn btn-secondary text-center lg">Go To Homepage</a>
</div>
<!-- 
<app-brewery-footer></app-brewery-footer> -->